.bg-home-header {
    background-color    : #A853ED;
    background-image    : url('/img/hero3.png');
    background-size     : cover;
    background-position : center center;
    background-repeat   : no-repeat;

    .logo {
        max-width : 250px;
    }
}

